<nav class="bg-[#181A1Dfc] rounded-full py-2 w-[95%] lg:w-[85%]">
    <ul class="flex justify-between items-center px-3">
        <div class="flex items-center space-x-3">
            <li>
                <a href="#top" class="text-white">
                    <img src="img/jjl-3d-v2.svg" alt="" class="w-9 text-[#D2D2D3] hover:text-[#a770ff]">
                </a>
            </li>
            <li class="hidden lg:block">
                <a href="#top" class="text-[#D2D2D3] hover:text-[#a770ff] text-semibold uppercase" id="jjl">
                    Jules Jean-Louis
                </a>
            </li>
        </div>
        <div class="flex space-x-2">
            <li class="rounded-full w-9 bg-[#202124] flex justify-center ">
                <a href="https://github.com/jules-jean-louis1" class="text-[#D2D2D3] hover:text-[#a770ff]">
                    <i class="fa-brands fa-github fa-2x"></i>
                </a>
            </li>
            <li class="rounded-full w-9 bg-[#202124] flex justify-center ">
                <a href="https://jules-jean-louis.students-laplateforme.io/" class="text-[#D2D2D3] hover:text-[#a770ff]">
                    <i class="fa-regular fa-circle-user fa-2x"></i>
                </a>
            </li>
        </div>
    </ul>
</nav>